<h1><%= @doctor.name %></h1>
<h2><%= @doctor.department %></h2>
<br>
<h3>Appointments: </h3>
  <% @doctor.appointments.each do |appointment| %>
  <li><%= appointment.appoitnment_datetime %> - <%= link_to doctor.patient.name, patient_path(patient.name) %></li>
  <% end %>
